<template name="notFound">

  <div class="container">
    <div class="row">
      <p class="flow-text">
        The requested page could not be found.<br>
        <a href="/">Go back to front</a>
        <span class="hide-on-med-and-down">
          or take a look to the left<br>
          <i class="material-icons large">arrow_back</i>
        </span>
        <span class="hide-on-large-only">
          or <a href="#" data-activates="nav-mobile" class="button-collapse">open the navigation.</a>
        </span>
      </p>
    </div>
  </div>

</template>
