/*
# COLOR DECLARATIONS
### WHITE
### BLACK
### GREEN
### TRANSPARENT
*/

@import "variables";

/*
# BASECOLOR
*/
nav.top-nav,
footer,
.btn,
.btn-large,
.collapsible-header,
.tabs .indicator,
span.badge.new,
.waves-effect.waves-basecolor .waves-ripple,
[type="checkbox"].filled-in:checked + label:after,
.switch label input[type=checkbox]:checked + .lever:after {
  background-color: $basecolor;
}
.link,
a.item-link,
p a,
textarea:focus,
.tabs li.tab a,
.secondary-content,
.collection a.collection-item,
.select-wrapper .dropdown-content li > span {
  color: $basecolor;
}
input {
  &[type=text]:focus,
  &[type=password]:focus,
  &[type=email]:focus,
  &[type=number]:focus,
  &[type=date]:focus {
    color: $basecolor;
  }
}
.input-field {
  input[type=text]:focus + label,
  input[type=password]:focus + label,
  input[type=email]:focus + label,
  input[type=number]:focus + label,
  input[type=date]:focus + label,
  textarea:focus + label,
  .prefix.active {
    color: $basecolor;
  }
}
[type="checkbox"].filled-in:checked + label:after {
  border-color: $basecolor;
}
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
input[type=date]:focus,
textarea:focus {
  border-color: $basecolor;
  -webkit-box-shadow: 0 1px 0 0 $basecolor;
  -moz-box-shadow: 0 1px 0 0 $basecolor;
  box-shadow: 0 1px 0 0 $basecolor;
}
.switch label input[type=checkbox]:checked + .lever {
  background-color: $basecolor-light;
}
.tabs li.tab a:hover,
.tabs li.tab.disabled a {
  color: $basecolor-light;
}

/*
# WHITE
*/
ul.side-nav li.logo:hover {
  background-color: $white;
}
footer,
footer a,
a.button-collapse.top-nav {
  color: $white;
}
.collapsible-header {
  &,
  span.badge,
  i {
    color: $white;
  }
}

/*
# GRAY
*/
.gray,
.btn-trans,
.collection a.collection-item.gray {
  color: $gray;
}
ul.side-nav {
  .collapsible i[class^="mdi"],
  .collapsible-header {
    color: $gray;
  }
}
ul.side-nav {
  li {
    a {
      &:hover {
        background-color: $gray-lighter;
      }
    }
  }
}

ul.side-nav .collapsible-body {
  box-shadow: 10px 10px 20px #F3F3F3 inset;
}

/*
# RED
*/
.btn {
  &.btn-cancel {
    background-color: $red;
  }
}
.item-remove {
  color: $red;
}

/*
# TRANSPARENT
*/
.btn-trans {
  background-color: $trans;
}
ul.side-nav {
  &.full,
  &.fixed {
    li {
      &:hover,
      &.active,
      &.logo a {
        background-color: $trans;
      }
    }
  }
  .collapsible-header {
    background-color: $trans;
  }
}
