/*
# VARIABLES
*/

/*
# LAYOUT
*/
$nav-header-height: 122px;
$nav-li-height: 64px;

/*
# COLOR DECLARATIONS
*/
$white: #FFFFFF !important;
$black: #000000 !important;
$gray: #444444 !important;
$gray-light: #DDDDDD !important;
$gray-lighter: #F3F3F3 !important;
$gray-lightest: #FCFCFC !important;
$blue: #4D9DC6 !important;
$blue-light: #5FBDEC !important;
$green: #00C853 !important;
$green-light: #E8F5E9 !important;
$red: rgba(244, 67, 54, 0.7) !important;
$red-light: rgba(244, 67, 54, 0.4) !important;
$trans: transparent !important;

$basecolor: $blue;
$basecolor-light: $blue-light;
